<!DOCTYPE html>
<html lang="cs-cz"
      xmlns:th="http://www.thymeleaf.org"
      th:object="${employeeDetail}">

<head th:replace="~{fragments/layout.html :: head( *{firstName} + ' ' + *{lastName})}"></head>
<link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>

<body>

<header th:replace="~{fragments/layout.html :: header}"></header>


<header th:fragment="header" class=" fixed-top mb-4">
    <nav class="d-flex justify-content-between bg-dark-subtle ">
        <ul class="nav nav-underline mx-4 align-items-center ">
            <li class="nav-item">
                <a class="nav-link" href="index.html" th:href="@{/}">
                    <img src="/src/main/resources/static/images/logo_min.png" th:src="@{/images/logo_min.png}"
                        alt="logo" id="logo" /></a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')" class="nav-item">
                <a th:href="@{/client/list}" class="nav-link ">Přehled klientů</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a th:href="@{/employee/list}" class="nav-link ">Přehled zaměstnanců</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')" class="nav-item">
                <a th:href="@{/insurance/list}" class="nav-link ">Přehled pojistných smluv</a>
            </li>
            <li sec:authorize="hasRole('CLIENT')" class="nav-item">
                <a th:href="@{/client/myDetail}" class="nav-link ">Můj přehled</a>
            </li>
            <li sec:authorize="hasRole('EMPLOYEE')" class="nav-item">
                <a th:href="@{/employee/myDetail}" class="nav-link ">Můj přehled</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/about}" class="nav-link ">O aplikaci</a>
            </li>
        </ul>


        <ul class="nav nav-underline mx-4 align-items-center ">
            <li class="nav-item" th:text="${loggedInUser}">
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a th:href="@{/login}" class="nav-link ">Přihlášení</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a th:href="@{/client/register}" class="nav-link ">Registrace</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="nav-link">
                        Odhlásit se
                    </button>
                </form>

            </li>
        </ul>
    </nav>

    <!--flash messages -->
    <div class="">
        <div th:if="${successEdit}" th:text="${successEdit}" class=" text-center bg-success text-white "></div>
        <div th:if="${successDelete}" th:text="${successDelete}" class=" text-center bg-success text-white "></div>
        <div th:if="${newInsuranceCreated}" th:text="${newInsuranceCreated}"
            class=" text-center bg-success text-white "></div>
        <div th:if="${successInsuranceEdit}" th:text="${successInsuranceEdit}"
            class=" text-center bg-success text-white "></div>
        <div th:if="${successRegister}" th:text="${successRegister}" class=" text-center bg-success text-white ">
        </div>
        
        <div th:if="${clientNotFound}" th:text="${clientNotFound}" class=" text-center bg-danger text-white "></div>

    </div>


    <!--flash messages -->

</header>


<article class="container ">

    <!--Start sekce - osobní údaje-->
    <section class="container bg-dark-subtle mt-4">
        <div class="row  ">
            <div class="mx-5 my-3">
                <h3 class="col-12">
                    <span th:text="*{firstName}">Lukas </span>
                    <span th:text="*{lastName}">Raška</span>
                </h3>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="ms-5">
                    <p>
                        <span th:text="*{street}">Ulice </span>
                        <span th:text="*{streetNumber}">1</span>
                    </p>
                    <p th:text="*{zipCode}">19000</p>
                    <p th:text="*{city}">Praha</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="ms-5">
                    <p th:text="*{phoneNumber}">123456789</p>
                    <p th:text="*{email}">lukas@lukas.cz</p>
                </div>
            </div>
        </div>
    </section>
    <!--konec sekce - osobní údaje-->


    <!--začátek sekce - tlačítka-->
    <div class="container  my-2">
        <div class="row d-flex justify-content-between  ">
            <div class="col-sm text-center">
                <a th:href="@{'/employee/edit/' + *{id}}" class="btn btn-outline-info col  m-2">Změnit osobní
                    údaje</a>
            </div>
            <div class="col-sm text-center align-self-center ">
                <form th:action="@{'/employee/delete/' + *{id}}"
                      th:method="post">
                    <button class="btn btn-outline-danger"
                            type="submit">
                        Smazat účet
                    </button>
                </form>

            </div>
            
        </div>
    </div>
    <!--konec sekce - tlačítka-->

</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>