<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head('O aplikaci')}">
    <link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>
</head>


<body>

<header th:replace="~{fragments/layout.html :: header}"></header>


<article class="text-center">
    <header class="my-5">
        <h1 class="mt-4">O aplikaci</h1>
    </header>
    <section class="container ">
        <div class="offset-md-2 col-8 text-start  ">
            <p>Nacházíte se ve fiktivní aplikaci nabízející správu pojištěných osob a jejich pojištění. Jde o projekt, který sloužil k naučení základních principů <strong>Spring Boot</strong> a <strong>MVC architektury</strong></p>
            <p>Nabízí pomocí <strong>Spring security</strong> možnost přihlášení přes dvě uživatelské entity: "klient" a "zaměstnanec", s nastavenými odlišnými právy pro správu uložených záznamů.</p>
        <p>Ke každé entitě umožněny základní <strong>CRUD operace</strong> (vytvoření, zobrazení, editace, mazání)</p>
        <p>K zobrazení v HTML použit šablonovací systém <strong>Thymeleaf</strong>, ke stylování použit framework <strong>Bootstrap</strong></p>
        </div>
       
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>