<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head('Vítejte')}">
    <link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>
</head>



<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<!--redirect attributes-->
<div th:if="${successEdit}" th:text="${successEdit}" class=" text-center bg-success text-white "></div>
<div th:if="${successDelete}" th:text="${successDelete}" class=" text-center bg-success text-white "></div>
<div th:if="${insuranceNotFound}" th:text="${insuranceNotFound}" class=" text-center bg-danger text-white "></div>
<!--redirect attributes-->

<article class="text-center">
    <header class="my-5">
        <h1>Vítejte v aplikaci E-pojištění</h1>
    </header>
    <section>
        <p>Pokud jste zde poprvé, doporučuji se <a th:href="@{/client/register}">zaregistrovat</a></p>
        <p>Pokud již máte vytvořen účet, můžete se <a th:href="@{/login}">přihlásit</a> </p>
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>