<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head('Přihlášení')}">
    
<body>

<header th:replace="~{fragments/layout.html :: header}"></header>
    
    <article class="d-flex justify-content-center ">
        <div>
            <header class="mt-5 mb-3 text-center ">
                <h1>Přihlášení</h1>
            </header>

            <section>
                <form class="border bg-dark-subtle ">
                    <div class="m-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" />
                        <small class="form-text text-danger ">validace</small>
                    </div>
                    <div class="m-3">
                        <label for="password" class="form-label">Heslo</label>
                        <input type="password" class="form-control" name="password" id="password" />
                        <small class="form-text text-danger ">validace</small>
                    </div>
                    <div class="m-3 text-center ">
                        <button type="submit" class="btn btn-outline-dark      " >
                            Přihlásit se
                        </button>
                    </div>

                </form>

            </section>
        </div>

    </article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>