<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css" />
</head>
<body>

<div th:fragment="flashMessages">
    <div th:if="${successEdit}" th:text="${successEdit}" class=" text-center bg-success text-white "></div>
    <div th:if="${successDelete}" th:text="${successDelete}" class=" text-center bg-success text-white "></div>
    <div th:if="${newInsuranceCreated}" th:text="${newInsuranceCreated}"
         class=" text-center bg-success text-white "></div>
    <div th:if="${successInsuranceEdit}" th:text="${successInsuranceEdit}"
         class=" text-center bg-success text-white "></div>
    <div th:if="${successRegister}" th:text="${successRegister}" class=" text-center bg-success text-white ">
    </div>

    <div th:if="${clientNotFound}" th:text="${clientNotFound}" class=" text-center bg-danger text-white "></div>
    <div th:if="${employeeNotFound}" th:text="${employeeNotFound}" class=" text-center bg-danger text-white "></div>
    <div th:if="${insuranceNotFound}" th:text="${insuranceNotFound}" class=" text-center bg-danger text-white "></div>
</div>

</body>
</html>