<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org" th:object="${clientDTO}">

<head th:replace="~{fragments/layout.html :: head('Můj přehled: ' + *{firstName} + ' ' + *{lastName})}"></head>
<link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>

<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<!--flash messages-->
<div th:if="${newInsuranceCreated}" th:text="${newInsuranceCreated}" class=" text-center bg-success text-white ">
</div>
<!--flash messages-->

<article class="container ">

    <!--Start sekce - osobní údaje-->
    <section class="container bg-dark-subtle mt-4">
        <div class="row  ">
            <div class="mx-5 my-3">
                <h3 class="col-12">
                    <span th:text="*{firstName}">Lukas </span>
                    <span th:text="*{lastName}">Raška</span>
                </h3>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="ms-5">
                    <p>
                        <span th:text="*{street}">Ulice </span>
                        <span th:text="*{streetNumber}">1</span>
                    </p>
                    <p th:text="*{zipCode}">19000</p>
                    <p th:text="*{city}">Praha</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="ms-5">
                    <p th:text="*{phoneNumber}">123456789</p>
                    <p th:text="*{email}">lukas@lukas.cz</p>
                </div>
            </div>
        </div>
    </section>
    <!--konec sekce - osobní údaje-->


    <!--začátek sekce - tlačítka-->
    <div class="container border my-2">
        <div class="row d-flex justify-content-between  ">
            <div class="col-sm text-center">
                <a th:href="@{'/client/edit/' + *{id}}" class="btn btn-outline-info col  m-2">Změnit osobní
                    údaje</a>
            </div>
            <div class="col-sm text-center ">
                <form th:action="@{'/client/delete/' + *{id}}"
                      th:method="post">
                    <button class="btn btn-outline-danger"
                            type="submit">
                        Smazat účet
                    </button>
                </form>

            </div>
            <div class="col-sm text-center">
                <a class="btn btn-outline-danger  m-2     ">Změnit heslo</a>
            </div>
        </div>
    </div>

    <div class="container border my-2">
        <div class="row d-flex justify-content-between  ">
            <div class="col-sm text-center">
                <a th:href="@{'/client/' + *{id} + '/insurance/new'}" class="btn btn-outline-primary  col  m-2">
                    Přidat nové pojištění
                </a>
            </div>
        </div>
    </div>
    <!--konec sekce - tlačítka-->

    <p class="my-5"></p>

    <!--start sekce -  pojištění-->
    <section>
        <header>
            <h2>Sjednaná pojištění</h2>
        </header>
        <table class="table table-hover mb-5">
            <thead>
            <tr>
                <th>Druh pojištění</th>
                <th>Poj. částka</th>
                <th>Datum sjednání</th>
                <th>tlačítka</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="insurance:${clientInsurances}">
                <td th:text="${insurance.insuranceType.description}">Pojištění majetku</td>
                <td th:text="${insurance.amountOfInsurance}">1000000</td>
                <td th:text="${#temporals.format(insurance.dateOfRegistry, 'dd.MM.yyyy')}">1.1.24</td>
            </tr>

            </tbody>
        </table>
    </section>
    <!--konec sekce -  pojištění-->
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>