<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head('Registrace')}"></head>
    <link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>

<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<article class="container mb-5">
    <div>
        <header class="text-center row ">
            <h1>Registrace nového klienta</h1>
        </header>




        <section class="row">
            <form class=" border bg-dark-subtle offset-md-1 col-md-10"
                  th:action="@{/client/register}"
                  th:object="${clientDTO}"
                  method="post">

                <!--přihlašovací údaje-->
                <div class="container my-4 pb-4 border border-secondary rounded-4  ">
                    <h6 class="text-center mt-2">Přihlašovací údaje</h6>
                    <div class="row">
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input th:field="*{email}" type="email" class="form-control" name="email" id="email"/>
                            <small th:errors="*{email}" class="form-text text-danger "></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="password" class="form-label">Heslo</label>
                            <input th:field="*{password}" type="password" class="form-control" name="password"
                                   id="password"/>
                            <small th:errors="*{password}" class="form-text text-danger "></small>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword" class="form-label">Zopakování hesla</label>
                            <input th:field="*{confirmPassword}" type="password" class="form-control"
                                   name="confirmPassword" id="confirmPassword"/>
                            <small th:errors="*{confirmPassword}" class="form-text text-danger "></small>
                        </div>

                    </div>
                </div>


                <!--osobní údaje-->
                <div class="container my-4 pb-3 border border-secondary  rounded-4  ">
                    <h6 class="text-center mt-2">Osobní údaje</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">Jméno</label>
                            <input th:field="*{firstName}" type="text" class="form-control" name="firstName"
                                   id="firstName"/>
                            <small th:errors="*{firstName}" class="form-text text-danger "></small>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Příjmení</label>
                            <input th:field="*{lastName}" type="text" class="form-control" name="lastName"
                                   id="lastName"/>
                            <small th:errors="*{lastName}" class="form-text text-danger "></small>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="phoneNumber" class="form-label">Telefon</label>
                            <input th:field="*{phoneNumber}" type="text" class="form-control" name="phoneNumber"
                                   id="phoneNumber"/>
                            <small th:errors="*{phoneNumber}" class="form-text text-danger "></small>
                        </div>
                        <div class="col-md-6">
                            <label for="dateOfBirth" class="form-label">Datum narození</label>
                            <input th:field="*{dateOfBirth}" type="date" class="form-control"
                                   name="dateOfBirth" id="dateOfBirth"/>
                            <small th:errors="*{dateOfBirth}" class="form-text text-danger "></small>
                        </div>
                    </div>
                </div>


                <!--adresa-->
                <div class="container my-4 pb-3 border border-secondary rounded-4  ">
                    <h6 class="text-center mt-2">Bydliště</h6>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="street" class="form-label">Ulice</label>
                            <input th:field="*{street}" type="text" class="form-control" name="street" id="street"/>
                            <small th:errors="*{street}" class="form-text text-danger "></small>
                        </div>
                        <div class="col-md-6">
                            <label for="streetNumber" class="form-label">Číslo popisné/orientační</label>
                            <input th:field="*{streetNumber}" type="text" class="form-control" name="streetNumber"
                                   id="streetNumber"/>
                            <small th:errors="*{streetNumber}" class="form-text text-danger "></small>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="city" class="form-label">Město</label>
                            <input th:field="*{city}" type="text" class="form-control" name="city"
                                   id="city"/>
                            <small th:errors="*{city}" class="form-text text-danger "></small>
                        </div>
                        <div class="col-md-6">
                            <label for="zipCode" class="form-label">PSČ</label>
                            <input th:field="*{zipCode}" type="text" class="form-control"
                                   name="zipCode" id="zipCode"/>
                            <small th:errors="*{zipCode}" class="form-text text-danger "></small>
                        </div>
                    </div>
                </div>


                <div class="m-3 text-center ">
                    <button type="submit" class="btn btn-outline-dark      ">
                        Registrovat
                    </button>
                </div>
            </form>

            <div class="my-3"></div>

        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>