<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head('Registrace')}"></head>
<link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>

<body>

<header th:replace="~{fragments/layout.html :: header}"></header>


<article class="container mb-5">
    <div>
        <header class="text-center row ">
            <h1>Registrace nového klienta</h1>
        </header>
        <section>
            <form th:replace="~{fragments/registerForm.html :: registerForm(action = '/client/register')}"></form>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>