<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head('Přehled pojistných smluv')}"></head>
<link rel="stylesheet" href="/src/main/resources/static/styles/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/src/main/resources/static/styles/styles.css" type="text/css"/>

<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<article class="container ">
    <header>
        <h1 class="mt-4">
            Přehled pojistných smluv
        </h1>
    </header>

    <section>
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th>Jméno klienta</th>
                <th class="d-none d-sm-table-cell ">Typ smlouvy</th>
                <th class="d-none d-md-table-cell ">Pojistná částka</th>
                <th class="d-none d-md-table-cell ">Datum vytvoření</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="insurance : ${allInsurances}">
                <td>
                    <a th:href="@{'/insurance/' + ${insurance.id}}">
                        <span th:text="${insurance.insuredClient.firstName} + ' ' + ${insurance.insuredClient.lastName}"></span>
                    </a>
                </td>
                <td th:text="${insurance.insuranceType.description}" class="d-none d-sm-table-cell "></td>
                <td th:text="${insurance.amountOfInsurance}" class="d-none d-md-table-cell ">30</td>
                <td th:text=${insurance.dateOfRegistry} class="d-none d-md-table-cell "></td>
                <td class="d-flex justify-content-center gap-md-2 ">
                    <a th:href="@{'/insurance/' + ${insurance.id} + '/edit'}"
                       class="btn btn-outline-info     ">Upravit</a>
                    <a th:href="@{#}" class="btn btn-outline-danger">Smazat</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</article>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>